/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/


* {
    background:      rgba(0, 0, 0, 0.74);    /**FF last for no opacity**/ 
    background-alt:  rgba(18, 18, 18, 0.97);
    surface:         #1E1E1EFF;
    surface-alt:     #2A2A2AFF;

    foreground:      #FFFFFFFF;
    foreground-alt:  #CFCFCFFF;
    muted:           #9A9A9AFF;

    selected:        #E0E0E0FF;
    active:          #FFFFFFCC;
    urgent:          #B0B0B0FF;
    textcolor:       #000000FF; 
}
